body {
  background: #d5d5d5;
  font-family: 'lato', sans-serif;
  line-height: 1.2;
  vertical-align: middle;
}
main {
  border-radius: 0.25rem;
  display: block;
  margin: 3vh auto;
  overflow: hidden;
  padding: 4.5em 0 0;
  position: relative;
  text-align: center;
}
.card {
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px #aaa;
  display: block;
  margin: 0 1rem 1rem;
  max-width: 448px;
  padding: 1.5rem;
  position: relative;
  z-index: 2;
}
.card .title {
  font-size: 2rem;
  margin-bottom: 1em;
}
.card.animate {
  -webkit-animation: fly-in 0.3s 0.5s ease both;
  -moz-animation: fly-in 0.3s 0.5s ease both;
  animation: fly-in 0.3s 0.5s ease both;
}
@-webkit-keyframes fly-in {
  from {
    -webkit-transform: translateY(15rem) rotate(15deg);
    transform: translateY(15rem) rotate(15deg);
    opacity: 0;
  }
}
@-moz-keyframes fly-in {
  from {
    -moz-transform: translateY(15rem) rotate(15deg);
    transform: translateY(15rem) rotate(15deg);
    opacity: 0;
  }
}
@keyframes fly-in {
  from {
    transform: translateY(15rem) rotate(15deg);
    opacity: 0;
  }
}
h2 {
  color: gray;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 2.5;
}
main .row {
  margin-left: 0;
  margin-right: 0;
}
@media only screen and (min-device-width: 448px) {
  .card {
    display: inline-block;
    width: 448px;
  }
}
.videoPlayer video {
  border-radius: 2px;
  box-shadow: 0 3px 10px #aaa;
}
.videoPlayer video.animate {
  animation: grow .3s 0 ease both;
  -webkit-animation: grow .3s 0 ease both;
  -moz-animation: grow .3s 0 ease both;
}
@keyframes grow {
  from {
    width: 108px;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes grow {
  from {
    width: 108px;
  }
  to {
    width: 100%;
  }
}
.app-header .navbar-header .icon {
  color: #4f5b66;
  position: absolute;
  left: 0;
  z-index: 1;
}
.app-header .navbar-header .active .icon,
.app-header .navbar-header:hover .icon {
  color: #93a2ad;
}
.app-header .navbar-header .active input,
.app-header .navbar-header:hover input {
  width: 280px;
}
.app-header .navbar-header input {
  -moz-appearance: none;
  -moz-transition: width 0.25s ease-out;
  -ms-transition: width 0.25s ease-out;
  -o-transition: width 0.25s ease-out;
  -webkit-appearance: none;
  -webkit-border-radius: 5px;
  -webkit-transition: width 0.25s ease-out;
  appearance: none;
  border-radius: 5px;
  border: none;
  float: left;
  font-size: 10pt;
  height: 50px;
  padding-left: 40px;
  padding-right: 10px;
  transition: width 0.25s ease-out;
  width: 50px;
}
.app-header .search-results,
.videoList {
  -webkit-overflow-scrolling: touch;
}
.app-header .search-results {
  display: none;
}
.app-header .navbar-header:hover .search-results {
  display: block;
}
.app-header .search-results li:hover {
  background: #eee;
}
main .btn {
  border-radius: 6px;
  font-weight: 400;
  border: none;
  white-space: normal;
  -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  -moz-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  -o-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}
main .btn.btn-inverse {
  background-color: #34495e;
  color: #fff;
}
main .btn.btn-inverse:hover {
  background-color: #415b76;
  border-color: #415b76;
  color: #fff;
}
.search-results li .result {
  color: #A5A5A5;
}
.search-results li:hover .result,
.search-results .result strong {
  color: #505050;
}
.search-results li:hover {
  background-color: #CCCDC8;
}
.search-results .result:hover {
  background: none;
  text-decoration: none;
}
